@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h2>Detail</h2>

            <p>Hello from our TimeSheets Detail template!</p>
        </div>
    </div>
</div>
