@{
    ViewBag.Title = "À propos de ce site";
}
<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div style="margin-top: 40px">
    <p>Ce site est un exemple d'application Web ASP.NET-C# suivant la structure MVC.</p>
</div>
