@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Feuilles de temps</h1>
</div>
<div class="row">
    <h2>Temps sur ce projet</h2>
    <ul class="list-group">
        @foreach (var m in Model)
        {
            <li class="list-group-item">
                <span class="col-sm-2 badge">@m.HoursWorked h</span>
                <span>@m.Date.ToString("d")</span><br />
                <span>@m.WorkSubject</span>
            </li>
        }
    </ul>
</div>
