@{
    ViewBag.Title = "";
}

<div id="main" class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>Feuilles de temps</h1>
            <p>Pour compter la sueur à votre bureau</p>
            <div style="width: 100%">
                <img style="margin-left: auto; margin-right: auto;" class="img-responsive" src="@Url.Content("~/img/timesheet-preview.png")" />
            </div>
        </div>
    </div>
</div>

